<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean name="prescriptions" class="springapps._springcore.dependencycheck.Prescription"
	p:id="1" p:patientName="Mukesh">
		<property name="medicines">
			<list>
				<value>Crocin 500</value>
				<value>Dolo 650</value>
			</list>
		</property>
	</bean>
	<context:annotation-config />
</beans>